<h1><a href="/">CMS</a></h1>
<h2>{{title}}</h2>
<a href="/previews/new">New Preview</a>
<div class="previews col-sm-12">
    {{#if previews}}
        {{#each previews}}
            <div class="preview_single">
                <h4>
                    <a href="/previews/{{this.id}}">{{this.name}}</a>
                </h4>
                <img src="{{this.photo}}" alt="{{this.name}}">
            </div>
        {{/each}}
    {{else}}
        <h4>Empty preview list</h4>
    {{/if}}
</div>